{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Регистрация</h2>

              <form method="POST">
                {% csrf_token %}

                <div class="form-outline mb-4">
                  <label class="form-label">Логин</label>
                  {{ form.username }}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Email</label>
                  {{ form.email }}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Пароль</label>
                  {{ form.password1 }}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Подтверждение пароля</label>
                  {{ form.password2 }}
                </div>

                <div class="d-flex justify-content-center">
                  <br>
                  <button class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">Регистрация</button>
                   <br>
                </div>
                 <br>
                <a class="text-muted" href="/login/">Уже есть аккаунт?</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

