{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="text-center">Корзина</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Наименование препарата</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Общая цена по товарам</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order_items %}
        <tr>
          <td>{{ item.medicine.name }}</td>
          <td>
            <button data-id="{{ item.id }}" class="quantity-button quantity-decrease btn btn-sm btn-outline-primary">-</button>
            {{ item.quantity }}
            <button data-id="{{ item.id }}" class="quantity-button quantity-increase btn btn-sm btn-outline-primary">+</button>
          </td>
          <td>{{ item.medicine.price }}</td>
          <td>{{ item.get_total_price }}</td>
          <td>
            <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-outline-danger">Удалить</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Всего: {{ order.get_total_price }}</h3>

  <form action="{% url 'checkout_order' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-success">Оформить заказ</button>
  </form>
</div>

{% block extra_js %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const quantityButtons = document.querySelectorAll('.quantity-button');

    quantityButtons.forEach(button => {
      button.addEventListener('click', function(event) {
        const itemId = button.dataset.id;
        const action = button.classList.contains('quantity-increase') ? 'increase' : 'decrease';

        updateQuantity(itemId, action);
      });
    });
  });

  function updateQuantity(itemId, action) {
    const url = `/update_quantity/${itemId}/${action}/`;

    fetch(url, {
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      method: 'POST',
      credentials: 'same-origin',
    })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success') {
          location.reload();
        }
      });
  }
</script>
{% endblock %}
{% endblock %}