{% extends "base.html" %}

{% block content %}

    {% for item in medicine%}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{item.name}}</h3>
        {% if item.img %}
        <img width="400px" src="{{item.img.url}}">
        {% endif %}
        <p class="card-text"><h3 class="card-title"> Описание </h3> {{item.description}}</p>
        <p class="card-price">Цена {{item.price}} рублей</p>
        <p class="card-text">Дозировка препарата - {{item.dosage}}</p>
        <p class="card-text">Наличие: {% if item.availability %}В наличие{% else %}Нет в наличие{% endif %} </p>
        <a href="/medicine-detail/{{item.id}}/" class="btn btn-primary">Перейти к продукту</a>
    </div>
</div>

    {% endfor%}
{% endblock %}