{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{object.name}}</h3>
        {% if object.img %}
        <img width="400px" src="{{object.img.url}}">
        {% endif %}
        <p class="card-price">Цена {{object.price}}</p>
        <p class="card-text">Дозировка препарата - {{object.dosage}}</p>
        <p class="card-text">Наличие: {% if object.availability %}В наличие{% else %}Нет в наличие{% endif %}</p>
        <p class="card-text">Описание - {{object.description}}</p>
    </div>
</div>

{% endblock %}